*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
*.hprof
*.apk
*.aab
*.jks
*.keystore
keystore.properties
/app/release/
flask_server/venv/
flask_server/__pycache__/
flask_server/static/uploads/
